body {
    text-align: center;
    align-items: center;
}

.mission-footer {
    width: 375px;
    height: 100px;
    background-color: #E1E9F6;
    margin-top: 608px;
    margin-left: auto;
    margin-right: auto;

    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding-top: 60px;

    align-items: center;
    text-align: center;

    color: #000000;

}

.main-footer {
    width: 375px;
    height: 40px;
    background: #B3D5F2;
    margin-left: auto;
    margin-right: auto;

    padding-top: 13px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    align-items: center;
    text-align: center;

    color: #000000;
}