body{
    text-align: center;
    background-color: #EFF3FA;
}
.LevelMent{
    margin-top: 80px;
    margin-bottom: 100px;
}
.Diffi_Beiginner{
}
.Diffi_Beiginner_Btn{
    width: 240px;
    height: 60px;
    background-color: #B3D5F2;
    border: none;
    color: #064A87;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 3px 5px #686868;
    cursor: pointer;
}
.Diffi_Beiginner_ment{
    color: #686868;
    font-size: 20px;
    /* font-weight: 500; */
    margin-bottom: 50px;
}
.Diffi_Advanced{
}
.Diffi_Advanced_Btn{
    width: 240px;
    height: 60px;
    background-color: #B3D5F2;
    border: none;
    color: #064A87;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 3px 5px #686868;
    cursor: pointer;
}
.Diffi_Advanced_ment{
    color: #686868;
    font-size: 20px;
    /* font-weight: 500; */
    margin-bottom: 50px;
}